---
import CategoriesMenu from './navigation/CategoriesMenu.astro';
import SearchBar from './navigation/SearchBar.astro';
import Logo from './icons/Logo.astro';
---

<nav class="h-[90px] bg-[#0d47a1] sticky top-0 z-[50] flex items-center justify-center">
  <div class="w-full max-w-6xl mx-auto px-4 flex flex-wrap items-center justify-between">
    <div class="flex items-center space-x-6">
      <CategoriesMenu />
    </div>

    <!-- Logo -->
    <a href="/" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
      <Logo />
    </a>

    <!-- Search Bar - visible on all devices -->
    <div>
      <SearchBar />
    </div>
  </div>
</nav>